# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: edgenode-observability
description: Edge Node Centralized Observability
type: application
version: 0.10.7
appVersion: 0.10.7
annotations:
  revision: 88556a5115416b669da7eb0eb2284a9a9830634a
  created: "2025-11-07T14:40:45Z"
dependencies:
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.3"
    repository: "https://grafana.github.io/helm-charts"
  - name: loki
    condition: import.loki.enabled
    version: "6.46.0"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-operator
    condition: import.otel-operator.enabled
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
    version: "0.90.3"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "~0.115.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: grafana
    alias: grafana
    version: "10.1.4"
    repository: https://grafana.github.io/helm-charts
    condition: import.grafana.enabled
