# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: edgenode-observability
description: Edge Node Centralized Observability
type: application
version: 0.10.19
appVersion: 0.10.19
annotations:
  revision: 998143e4488eef735dac4f84d3798fa9b4e59d97
  created: "2026-02-18T14:19:52Z"
dependencies:
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.5"
    repository: "https://grafana.github.io/helm-charts"
  - name: loki
    condition: import.loki.enabled
    version: "6.53.0"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-operator
    condition: import.otel-operator.enabled
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
    version: "0.90.3"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "0.145.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: grafana
    alias: grafana
    version: "11.1.7"
    repository: "https://grafana-community.github.io/helm-charts"
    condition: import.grafana.enabled
