# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: edgenode-observability
description: Edge Node Centralized Observability
type: application
version: 0.10.13
appVersion: 0.10.13
annotations:
  revision: aeb27a6d8b1ace48e6b1e7fc9eca10028224d73d
  created: "2025-11-19T20:08:26Z"
dependencies:
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.3"
    repository: "https://grafana.github.io/helm-charts"
  - name: loki
    condition: import.loki.enabled
    version: "6.46.0"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-operator
    condition: import.otel-operator.enabled
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
    version: "0.90.3"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "0.136.1"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: grafana
    alias: grafana
    version: "10.1.4"
    repository: https://grafana.github.io/helm-charts
    condition: import.grafana.enabled
