# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: orchestrator-observability
description: Orchestrator centralized observability
type: application
version: 0.5.15
appVersion: 0.5.15
annotations:
  revision: b46c39d857d5a06dc10aafaf9efb6daf2e94a061
  created: "2025-11-21T11:14:39Z"
dependencies:
  - name: loki
    condition: import.loki.enabled
    version: "6.53.0"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-collector
    alias: opentelemetry-collector-daemonset
    condition: import.otel.enabled
    version: "0.136.1"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "0.136.1"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.3"
    repository: "https://grafana.github.io/helm-charts"
  - name: grafana
    alias: grafana
    version: "10.1.4"
    repository: https://grafana.github.io/helm-charts
    condition: import.grafana.enabled
  - name: tempo
    condition: import.tempo.enabled
    version: "1.18.3"
    repository: "https://grafana.github.io/helm-charts"
