# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: orchestrator-observability
description: Orchestrator centralized observability
type: application
version: 0.5.8
appVersion: 0.5.8
annotations:
  revision: 62dc2e4f447725d25788de7b795d7987b91aa246
  created: "2025-11-11T14:01:58Z"
dependencies:
  - name: loki
    condition: import.loki.enabled
    version: "~6.30.1"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-collector
    alias: opentelemetry-collector-daemonset
    condition: import.otel.enabled
    version: "~0.115.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "~0.115.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.3"
    repository: "https://grafana.github.io/helm-charts"
  - name: grafana
    alias: grafana
    version: "10.1.4"
    repository: https://grafana.github.io/helm-charts
    condition: import.grafana.enabled
  - name: tempo
    condition: import.tempo.enabled
    version: "1.18.3"
    repository: "https://grafana.github.io/helm-charts"
