# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
name: orchestrator-observability
description: Orchestrator centralized observability
type: application
version: 0.5.8
appVersion: 0.5.8
annotations:
  revision: 88556a5115416b669da7eb0eb2284a9a9830634a
  created: "2025-11-07T14:40:59Z"
dependencies:
  - name: loki
    condition: import.loki.enabled
    version: "6.46.0"
    repository: "https://grafana.github.io/helm-charts"
  - name: opentelemetry-collector
    alias: opentelemetry-collector-daemonset
    condition: import.otel.enabled
    version: "~0.115.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: opentelemetry-collector
    condition: import.otel.enabled
    version: "~0.115.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
  - name: minio
    alias: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: import.minio.enabled
  - name: mimir-distributed
    condition: import.mimir.enabled
    version: "6.0.3"
    repository: "https://grafana.github.io/helm-charts"
  - name: grafana
    alias: grafana
    version: "10.1.4"
    repository: https://grafana.github.io/helm-charts
    condition: import.grafana.enabled
  - name: tempo
    condition: import.tempo.enabled
    version: "1.18.3"
    repository: "https://grafana.github.io/helm-charts"
